# Ignore virtual environment folder
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover

# PyInstaller
# Usually contains the result of the PyInstaller build
*.spec

# Environment variables
.env
.env.*

# IDE / Editor settings
.vscode/
.idea/
*.sublime-workspace

# macOS system files
.DS_Store

# Windows system files
Thumbs.db
Desktop.ini